{% extends 'BakedByAl/base.html' %}
{% block header %}
    <h1 class="display-4">
        About
    </h1>
{% endblock %}
{% block content %}
    <main class="container mt-5">
        <div class="row">
            <div class="col">
                <p>
                    Baked By Al is a small business that specializes in custom cakes and cupcakes. We are located in the heart of the Salt Lake City Area. We pride ourselves in providing the best quality products and services to our customers.
                </p>
            </div>
        </div>
    </main>
{% endblock %}